@model Model.PhieuGiaoNhan

@{
    ViewBag.Title = "CreateDetail";    
    List<Model.ThietBi> listThietBi = ViewBag.listLoai as List<Model.ThietBi>;
    string tenDonVi = ViewBag.tenDonVi;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tạo chi tiết phiếu giao nhận</h2>
<script src="~/Scripts/ChiTietPhieuGiaoNhanScript.js"></script>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.NgayGiaoNhan)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.NgayGiaoNhan)
    </dd>
    <dt>
        Đơn Vị:
    </dt>

    <dd>
        @tenDonVi
    </dd>

</dl>
<table class="table">
    <tr>
        <td>
            Mã thiết bị:
        </td>
        <td>
            <select class="form-control" id="dropDown_selectLoai">
                
            </select>
        </td>
    </tr>
    <tr>
        <td>
            Tình trạng:
        </td>
        <td>
            <input type="text" class="form-control" id="tinhTrang" />
        </td>
    </tr>
    <tr>
        <td>
            <button type="button" class="btn btn-success btn-md" id="btnAdd">+</button>
        </td>
    </tr>
</table>

